# SBT
boot/
lib_managed/
target/
.history

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/
eclipse.sbt

core/project/target
core/target
rules/project/target
rules/target
project/target
target
*.swp
*.BAK
*.prefs
.tmpBin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Mac
.DS_Store
