sudo: false
language: scala
script:
  - sbt "+++$TRAVIS_SCALA_VERSION test"
matrix:
  include:
  - scala: 2.10.6
    jdk: openjdk6
  - scala: 2.11.8
    jdk: openjdk6
    env: IS_PUBLISH_JDK=true
  - scala: 2.12.0
    jdk: oraclejdk8
    env: IS_PUBLISH_JDK=true
notifications:
  email:
    - adriaan.moors@lightbend.com
